@import "../../../../scss/main.scss";

$size-btn: 40px;

.movie-finder {
  background-color: $color-accent;
  width: 50%;
  margin: 20px auto;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  align-items: center;

  input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid $color-primary;
    border-radius: 6px;
    font-size: 14px;
  }

  button {
    width: $size-btn;
    height: $size-btn;
    background-color: $color-primary;
    color: $color-accent;
    border: none;
    border-radius: 30%;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:last-child {
      border-radius: 6px;
      width: auto;
      padding: 0 16px;
    }
  }
}
