@import "../../../../scss/animations/index";

$color-border-category: orange;
$border-width: 10px;
$grid-min-width: 450px;
$spacing-items: 20px;

.images-container {
  &__category {
    border-left: $border-width solid $color-border-category;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-min-width, 1fr));
    gap: $spacing-items;
    padding: $spacing-items;
  }
  &__wrapper-item {
    overflow: hidden;
  }
  &__image-item {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      @extend .hover-zoom;
    }
  }

  &__showAllBtn {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
  }
}
