@import "../../scss/main.scss";

$width-image-slider: 400px;
$gap-text-container: 0px;
$size-pagination-item: 15px;

.movies-slider-wrapper {
  width: 100%;
  min-height: calc(100vh - 60px * 2);
  position: relative;
}
.movies-slider-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px) brightness(0.7);
  background-image: url("./components/images/BG-image-to-slider.jpg");
  background-color: $color-ui-disabled;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 1;
}
.movies-slider {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__btn-prev,
  &__btn-next {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30%;

    background-color: $color-primary;
    border: 2px solid $color-rating-border;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-primary-dark;
      cursor: pointer;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__slide-track-wrapper {
    width: calc($width-image-slider * 2);
    height: calc($width-image-slider * 1.5);
    overflow: hidden;
  }

  &__slide-track {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__slide {
    width: 100%;
    display: flex;
    flex-shrink: 0;
  }

  &__image {
    // backgroundImage:; get from file
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: $color-ui-disabled;
    width: $width-image-slider;
    aspect-ratio: 2/3;
    padding: 10px;
  }

  &__text-container {
    width: $width-image-slider;
    // height: 100%;
    // aspect-ratio: 2/3;
    background-color: $color-on-primary;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: $gap-text-container;
    padding-right: $gap-text-container;

    > * {
      width: 100%;
      padding: 10px;
    }
  }

  &__movie-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__overview {
    font-size: 1rem;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;

    overflow-wrap: break-word;
    hyphens: auto;
  }

  &__genres {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__pagination-item,
  &__pagination-item-active {
    width: $size-pagination-item;
    height: $size-pagination-item;
    border: none;
    border-radius: 25%;
    background-color: $color-primary-dark;
    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  &__pagination-item-active {
    width: $size-pagination-item * 2.2;
    background-color: $color-primary;
  }
}
