@import "../../scss/animations/index";

.movieCard {
  &__background-wrapper {
    position: relative;
    // background-image: get from file "MovieCard.jsx"
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    aspect-ratio: 16/9;
    padding-top: 20%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      aspect-ratio: 16/9;
      background-image: inherit;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      filter: blur(7px);
      pointer-events: none;
      z-index: 1;
    }
  }

  &__content-container {
    position: relative;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 60%;
    height: 601px;
    z-index: 2;
    overflow-wrap: break-word;

    animation: fadeInUp 0.6s ease-out;
    > * {
      overflow-wrap: break-word;
    }
  }
  &__backdrop {
    display: block;
    width: 100%;
  }

  &__poster-container {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__poster {
    width: 400px;
    aspect-ratio: 2/3;
    filter: brightness(0) blur(20px);
    &.poster--loaded {
      @extend .blur-to-clear;
    }
  }

  &__big-title {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 3rem;
    color: gold;
  }

  &__title {
    width: 250px;
    text-align: center;
    padding: 10px;
  }

  &__date_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(10, auto) 1fr;
    height: 100%;
    > * {
      border-bottom: 1px solid black;
      display: block;
      text-align: left;
      padding: 10px;
    }

    > :nth-last-child(2) {
      border-bottom: none;
    }

    > :last-child {
      border-bottom: none;
    }
  }

  &__title,
  &__tagline,
  &__countries,
  &__companies,
  &__genres {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow-y: auto;
  }
  &__overview {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  &__logoToCompanies {
    width: 60px;
    height: 40px;
    object-fit: contain;
    cursor: help;
  }
}
