.error-preloader {
  text-align: center;
  background-color: red;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;
}
