.card {
  background-color: antiquewhite;
  border: solid 2px;
  border-radius: 5%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  text-decoration: none;
  color: inherit;
}

.card:hover {
  background-color: aquamarine;
  cursor: pointer;
}
