@import "../../scss/animations/index";

.card {
  &:hover &__info {
    @extend .slide-up-hover;
  }
  &__poster {
    width: 100%;
    aspect-ratio: 2/3;
    background-color: #2d3748;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__info {
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
}
