@import "../../scss/main.scss";

.data-container {
  background-color: $color-primary;
  &__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: $color-primary;
  }
}
