@import "../../scss/main.scss";

.header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-text-primary;
  font-size: 1rem;
  width: 100%;
  background-color: $color-primary;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  &__nav-item {
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 550;
      transition: color 0.3s ease;
    }

    &:hover {
      color: $color-accent-dark;
    }
  }
}
