@import "../../scss/main.scss";
@import "../../scss/animations/index";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  background-color: $color-primary;
  color: $color-text-primary;
  &__wrapper {
    overflow: hidden;
  }
  &__GitHubLogo {
    width: 40px;
    object-fit: contain;
    &:hover {
      @extend .hover-zoom;
    }
  }
}
