@keyframes blurToClear {
  0% {
    filter: brightness(0) blur(20px);
  }
  25% {
    filter: brightness(0.25) blur(15px);
  }
  50% {
    filter: brightness(0.5) blur(10px);
  }
  75% {
    filter: brightness(0.75) blur(5px);
  }
  100% {
    filter: brightness(1) blur(0px);
  }
}
.blur-to-clear {
  animation: blurToClear 1.5s ease-out forwards;
}

// @keyframes slideFromRight {
//   0% {
//     opacity: 0;
//     transform: translateX(100%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .slide-from-right {
//   animation: slideFromRight 1.5s ease-out forwards;
// }
